
	.main-body{
		position: relative;
		background: rgb(255, 200, 200);
	}
	.h1{
     color: black;
     font-size: 55px;
     font-family:"Monotype Corsiva" Cursive;
	}
	#footer-site {
		padding-bottom: 70px;
		padding: 30px 0;
	    background-color: #2e2823;
		color: #fff;
		text-align: center;
		position: relative;
	}
	.menu_line{
		border: 5px outset rgb(110, 180, 190); 
		border-right-style: #FAF0E6;
		display:none;
	}
	.myHotel{
		margin: 20px;
		max-width: 40%;
		object-fit: cover;
	} 
	.widget li{
		display: none;
		color: #fff;
		margin-right: 20px;
	}
	.HotelIcon{
		margin-top: 20px;
		width: 65px;
		align-self: flex-start;
	}
	.barbellIcon{
		 width: 65px;
		 align-self: flex-start;
	}
	.wifiIcon{
		 width: 65px;
		 align-self: flex-start;
	}
	.StarsIcon{
		 width: 65px;
		 align-self: flex-start;
	}	
	.paragraph{
<<<<<<< HEAD
		display: flex;
		background-color: #FAF0E6; 
		flex-direction: row;
=======
		width: 70%;
		padding-left: 90px;
		display: flex;
		background-color: #FAF0E6; 
		flex-direction: row;
		border-bottom: 2px outset #FFFF;
>>>>>>> a394426aef7519bbb951836c2f8487227af7b5f9
	}
	.myMenu{
		width: 640px;
		height: 50px;
		background-color: #FAF0E6;
		font-size: 35px;
		margin-top:1%;
	}
	.Tags{
<<<<<<< HEAD
		width: 640px;
=======
>>>>>>> a394426aef7519bbb951836c2f8487227af7b5f9
		height: 50px;
		background-color: #FAF0E6;
		font-size: 35px;
		margin-top:1%;
	}
<<<<<<< HEAD
	#photos{
		overflow-y: scroll; 
		height: 650px;
		border: solid 2px pink;
		margin: 50px auto;
		width: 75%; 
=======
	.photos{
		margin: 20px auto;
		width: 90%; 
	}
	#photo-template{
		width: 50%;
>>>>>>> a394426aef7519bbb951836c2f8487227af7b5f9
	}
#textIcon{
	display: flex;
	 flex-direction: column;
}
.calendar{
	width: 10%;
}
.toBook{
  position: relative;
}
.not-logIn{
 	margin-left: 42%;
    margin-bottom: 1.5%;
    display: none;
}
.supervisor{
	display:none;
	width: 45%;
}
.Book{
	background-color: #EBDAFF;
	font-size: 1.5vw;
	border: 1px solid #ad9d80;
    margin-left: 45%;
    margin-bottom: 1.5%;
    margin-right: 40%;
}
.Search{
	background-color: #EBDAFF;
	font-size: 1.5vw;
    border: 1px solid #ad9d80;
    margin-left: 45%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-right: 40%;
}
.editPict{
	display:flex;
	width: 75%;
}
.editButton{
	display: flex;
	background-color: #EBDAFF;
	font-size: 1.5vw;
    border: 1px solid #ad9d80;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 1.5%;
    width: 40%;
    height: 25%;
}
.edit-post{
display: flex;
}
.deletePict{
	display:flex;
	width: 45%;
}
.deleteButton{
	display: flex;
	background-color: #EBDAFF;
	font-size: 1.5vw;
    border: 1px solid #ad9d80;
    width: 40%;
}
.back{
	margin-top:3%;
	background-color: #EBDAFF;
	font-size: 1.5vw;
    border: 1px solid #ad9d80;
    margin-left: 80%;
}
.loginAdmin{
	display: none;
    margin-left: 80%;
    
}
.admin{
	background-color: #EBDAFF;
	font-size: 1.5vw;
    border: 1px solid #ad9d80;
    margin-left: 80%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1.5%;
}
.user{
	background-color: #EBDAFF;
	font-size: 1.5vw;
    border: 1px solid #ad9d80;
    margin-left: 80%;
    margin-right: 5%;
    margin-top: 1.5%;
    margin-bottom: 1%;
}
.userPic{
	display:none;
	width: 45%;
}
.Admin-menu{
	display:none;
	margin-left: 50%;
}
.Hello{
	font-size: 3vw;
	display : none;
}
.Search-form{
	display:none;
}
.search{
	margin-left: 43%;
    margin-bottom: 1.5%;
}
.find{
	background-color: #FCF3CF;
	font-size: 1.3vw;
    border: 1px solid #ad9d80;
    margin-left: 45%;
    margin-right: 50%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
}